body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #555353;
  padding: 20px;
  text-align: center;
  display: inline-block;
  width: 18%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
  width: 90%;
  height: 50px;
  font-size: 2em;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
}

.buttons button {
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  margin: 5px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buttons button:hover {
  background-color: #e0e0e0;
}

button:active {
  background-color: #ccc;
}
